.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.mt-10 {
  margin-top: 10px;
}
.my-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}
